@use 'variables';

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    min-height: 75px;
    background: linear-gradient(to right, variables.$background-color-gradient-start, variables.$background-color-gradient-middle, variables.$background-color-gradient-end);
    box-shadow: 0 1rem 1rem -1rem rgba(55, 56, 58, 0.2);
    z-index: 10;

    > ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 100%;
    }

    li {
        padding: 0px 0.8rem;
    }

    a {
        color: #FFFFFF;
        display: block;
        &:hover {
            .code {
                visibility: visible;
                opacity: 1;
                color: variables.$hover-link-color;
            }
        }
    }

    .code {
        color: white;
        transition: color 0.3s ease-out;
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s, opacity 0.3s ease-in-out;
    }

    .toggle-menu-checkbox {
        display: none;
    }

    .toggle-button {
        display: none;
        cursor: pointer;
        position: absolute;
        top: 20px;
        right: 20px;
        height: 25px;
        width: 30px;
        flex-direction: column;
        justify-content: space-between;
        z-index: 11;

        .bar {
            display: block;
            width: 30px;
            height: 3px;
            background-color: #FFFFFF;
        }
    }

    @media (max-width: 768px) {
        flex-direction: column;
        align-items: flex-start;

        .toggle-button {
            display: flex;
        }

        .toggle-menu-checkbox {
            &:checked + label + ul,
            &:not(:checked) + label + ul {
                flex-direction: column;
                align-items: center;
                display: none; // This ensures the menu is hidden by default
            }

            &:checked + label + ul {
                display: flex; // This shows the menu when the checkbox is checked
            }
        }

        > ul {
            width: 100%;
            flex-direction: column;
            align-items: center;
            padding-top: 20px;
            transition: transform 0.3s ease-in-out;

            li {
                padding: 10px;
                width: 100%;
                text-align: center;
            }
        }
    }

    @media (min-width: 769px) {
        .toggle-menu-checkbox:checked + label + ul {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
        }
    }
}
