@use 'variables';

h1 {
  display:flex;
  justify-content: center;
  text-align: center;
  font-size: 4rem;
  font-weight: 600;
  margin: 8rem 0 2rem;
  margin-top: 100px;
  color:white;
}

@media (max-width: 650px) {
  h1 {
    font-size: 5rem;
  }
}

#apuntes {
    padding: 10rem 5rem;
    text-align: center;
  
    > p {
      margin-bottom: 5rem;
      color: #fff;
    }
  
    .projects-grid {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 5rem;
      margin: 1.5rem auto;
  
      @media (max-width: 400px) {
        grid-template-columns: 1fr;
      }
    }
  
    .card {
      position: relative;
      padding-bottom: 2rem;
      border: 1px solid rgba(217, 217, 217, 0.5);
      border-radius: 5px;
      background-color: variables.$card-background-color;
      color: #E0E1E6;
  
      &:hover {
        box-shadow: 0 0 2rem -0.7rem #D9D9D9;
        border: 1px solid #D9D9D9;
        transition: 0.3s;
      }
  
      .desc {
        position: relative;
        z-index: 2;
        padding: 2rem;
        text-align: center;
  
        .project-tile > a {
          color: white;
          font-weight: 200;
        }
      }
    }
  }

  #practica {
    padding: 10rem 5rem;
    text-align: center;
  
    > p {
      margin-bottom: 5rem;
      color: #fff;
    }
  
    .projects-grid {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 5rem;
      margin: 1.5rem auto;
  
      @media (max-width: 400px) {
        grid-template-columns: 1fr;
      }
    }
  
    .card {
      position: relative;
      padding-bottom: 2rem;
      border: 1px solid rgba(217, 217, 217, 0.5);
      border-radius: 5px;
      background-color: variables.$card-background-color;
      color: #E0E1E6;
  
      &:hover {
        box-shadow: 0 0 2rem -0.7rem #D9D9D9;
        border: 1px solid #D9D9D9;
        transition: 0.3s;
      }
  
      .desc {
        position: relative;
        z-index: 2;
        padding: 2rem;
        text-align: center;
  
        .project-tile > a {
          color: white;
          font-weight: 200;
        }
      }
    }
  }

  #bibliografia {
    padding: 10rem 5rem;
    text-align: center;
  
    > p {
      margin-bottom: 5rem;
      color: #fff;
    }
  
    .projects-grid {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 5rem;
      margin: 1.5rem auto;
  
      @media (max-width: 400px) {
        grid-template-columns: 1fr;
      }
    }
  
    .card {
      position: relative;
      padding-bottom: 2rem;
      border: 1px solid rgba(217, 217, 217, 0.5);
      border-radius: 5px;
      background-color: variables.$card-background-color;
      color: #E0E1E6;
  
      &:hover {
        box-shadow: 0 0 2rem -0.7rem #D9D9D9;
        border: 1px solid #D9D9D9;
        transition: 0.3s;
      }
  
      .desc {
        position: relative;
        z-index: 2;
        padding: 2rem;
        text-align: center;
  
        .project-tile > a {
          color: white;
          font-weight: 200;
        }
      }
    }
  }

  #imagen {
    display:flex;
        justify-content: center;
        align-items: center;
        align-content: center;
    margin-top: 10rem;
    padding: 10rem 5rem;
    text-align: center;
      }