@use 'variables';

/* Estilo básico para la barra de navegación */
.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.nav li {
    float: left;
}

.nav a {
    display: block;
    color: #E0E1E6;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Estilo para el dropdown */
.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: variables.$card-background-color;
    min-width: 132px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: variables.$contact-gradient-start;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    border-radius:100px;
    transition: 0.5s;
    background-color: variables.$contact-gradient-start;
}

h1 {
    display:flex;
    justify-content: center;
    text-align: center;
    font-size: 4rem;
    font-weight: 600;
    margin: 8rem 0 2rem;
    margin-top: 100px;
    color:white;
  }
  
  @media (max-width: 650px) {
    h1 {
      font-size: 5rem;
    }
  }