$primary-font: Poppins, sans-serif;
$primary-color: #011640;
$secondary-color: #A8E6CF;
$background-color-gradient-start: rgba(253, 253, 253, 0.85);
$background-color-gradient-middle: rgba(68, 20, 64, 0.85);
$background-color-gradient-end: rgba(35, 50, 95, 0.85);
$link-color: #C0C0C8;
$hover-link-color: #9D8ABF;
$card-background-color: rgba(58, 42, 75, 0.85);
$contact-background-color: rgba(58, 42, 75, 0.85);
$contact-gradient-start: rgba(88, 24, 69, 0.85);
$contact-gradient-end: rgba(21, 67, 96, 0.85);