@use 'variables';
@use 'tema1';
@use 'tema2';

// Base styles
* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  line-height: 1.5;
  font-family: variables.$primary-font;
  color: variables.$primary-color;
  overflow-x: hidden;
  background: url('./../../content/background.png') no-repeat fixed;
  background-size: cover;
}

h1 {
  display:flex;
  justify-content: center;
  text-align: center;
  font-size: 4rem;
  font-weight: 600;
  margin: 8rem 0 2rem;
  margin-top: 100px;
  color:white;
}

@media (max-width: 650px) {
  h1 {
    font-size: 5rem;
  }
}

h2 {
  margin-bottom: 5rem;
  color: #fff;
}
h3{
    display:flex;
    justify-content: center;
    align-items: center;
}
li {
  list-style: none;
}

a {
    vertical-align: center;
  color: variables.$link-color;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

// Nav styles
.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  min-height: 75px;
  background: linear-gradient(to right, variables.$background-color-gradient-start, variables.$background-color-gradient-middle, variables.$background-color-gradient-end);
  box-shadow: 0 1rem 1rem -1rem rgba(55, 56, 58, 0.2);
  z-index: 10;

  > ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  li {
    padding: 0px 0.8rem;
  }

  a {
    color: #FFFFFF;
    &:hover {
      span.code {
        visibility: visible;
        opacity: 1;
        color: variables.$hover-link-color;
      }
    }
  }

  .code {
    color: white;
    transition: color 0.3s ease-out;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.3s ease-in-out;
  }
}

// Welcome Section
#welcome-section {
  margin: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 100vh;

  @media (max-width: 1000px) {
    text-align: center;
    margin-top: 10rem;
    flex-direction: column;
  }

  h1 {
    color: variables.$secondary-color;
  }

  .welcome-img {
    margin-top: 8rem;
    width: 580px;
  }

  #mobile-only {
    display: none;
  }

  @media (max-width: 850px) {
    #desktop-only {
      display: none;
    }

    #mobile-only {
      display: initial;
      width: 450px;
    }
  }

  #subheading {
    font-size: 5rem;
    font-weight: 600;
    margin: 2rem 0;
    color: variables.$secondary-color;

    span {
      color: inherit; // Inherits color from #subheading
    }
  }

  @media (max-width: 650px) {
    #subheading {
      font-size: 4rem;
    }
  }
}

// Projects Section
#public_repositories {
  padding: 10rem 5rem;
  text-align: center;

  > p {
    margin-bottom: 5rem;
    color: #fff;
  }

  .projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 5rem;
    margin: 1.5rem auto;

    @media (max-width: 400px) {
      grid-template-columns: 1fr;
    }
  }

  .card {
    position: relative;
    padding-bottom: 2rem;
    border: 1px solid rgba(217, 217, 217, 0.5);
    border-radius: 5px;
    background-color: variables.$card-background-color;
    color: #E0E1E6;

    &:hover {
      box-shadow: 0 0 2rem -0.7rem #D9D9D9;
      border: 1px solid #D9D9D9;
      transition: 0.3s;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba(58, 42, 75, 0.65);
      z-index: 1;
    }

    .desc {
      position: relative;
      z-index: 2;
      padding: 2rem;
      text-align: left;

      .project-tile > a {
        color: white;
        font-weight: 200;
      }
    }
  }
}

// Contact Section
#contact {
  margin-top: 3rem;
  padding: 10rem 5rem;
  text-align: center;
  background: linear-gradient(to right, variables.$contact-gradient-start, variables.$contact-gradient-end);
  color: #fff;

  .contact-icon {
    width: 2rem;
    padding: 1rem;
    filter: invert(100%);
  }

  .contact-links {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 4rem;
    flex-wrap: wrap;
  }

  .contact-details {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: #fff;
    padding: 1rem;

    &:hover {
      color: variables.$hover-link-color;

      .contact-icon {
        filter: invert(61%) sepia(15%) saturate(500%) hue-rotate(250deg) brightness(100%) contrast(90%);
      }
    }
  }
}

// Footer
footer {
  text-align: center;
  padding: 2rem 0;
  background-color: variables.$primary-color;
  color: #fff;

  .heart::before {
    content: '\2665';
    color: variables.$hover-link-color;
    font-size: 1.6rem;
  }

  .code {
    color: variables.$hover-link-color;
  }
}

// Text Selection Color
::selection {
  color: #fff;
  background: #02A1A3;
}

::-moz-selection {
  @extend ::selection;
}
